<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Ingreso</servlet-name>
        <servlet-class>servidorescontrolador.Ingreso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>servidorescontrolador.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsuarios</servlet-name>
        <servlet-class>servidorescontrolador.AdminUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductos</servlet-name>
        <servlet-class>servidorescontrolador.AdminProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPedidos</servlet-name>
        <servlet-class>servidorescontrolador.AdminPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecomendadorSrv</servlet-name>
        <servlet-class>servidorescontrolador.RecomendadorSrv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ingreso</servlet-name>
        <url-pattern>/Ingreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsuarios</servlet-name>
        <url-pattern>/AdminUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductos</servlet-name>
        <url-pattern>/AdminProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPedidos</servlet-name>
        <url-pattern>/AdminPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecomendadorSrv</servlet-name>
        <url-pattern>/RecomendadorSrv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
